@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
body{
    background: url(../imagem/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed; /* o background funciona tbm se colocado no main */
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
   
    background: url(../imagem/frame-iphone.png) no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 311px;
    height: 627px;
}

iframe#tela {
    position: relative;
    top:80px ;
    left: 22px;

    width: 264px;
    height: 468px;
}