@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
body{
    background: url(../imagem/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed; /* o background funciona tbm se colocado no main */
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
   
    background: url(../imagem/frame-iphone.png) no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 311px;
    height: 627px;
}

iframe#tela {
    position: relative;
    top:80px ;
    left: 22px;

    width: 264px;
    height: 468px;
}
section#redes-sociais {
    text-align: right;
}
section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.734);
    box-sizing: border-box;

}
section#redes-sociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.637);
    transform: translate(-2px ,-2px);
    box-shadow: 3px 3px 5px black;
    transition: 0.3s, border .5s;


}
